body{
    font-family: 'Arial Narrow Bold';
}
.site-heading-lower{
    font-family: 'Arial Narrow Bold';
}
.mb-3{
    font-family: 'Arial Narrow Bold';
}
a{
    font-family: 'Arial Narrow Bold';
}
#mainNav{
    background-color: rgba(0, 0, 0, 0.674);
}